.element {
  background-color: #e8e8e8;
  border-radius: 5px;
  display: block;
  margin: 0;
}

.element__button-card {
  border: none;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  display: block;
  height: 100%;
  padding: 0;
  width: 100%;
  transition: transform .3s ease-in-out;
}

.element__button-card:hover {
  transform: scale(1.05, 1.05);
}

.element__image {
  border-radius: 5px 5px 0 0;
  display: block;
  height: 282px;
  width: 100%;
  object-fit: cover;
}

.element__caption {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 21px;
  height: 70px;
}

.element__caption-title {
  /* flex-basis: 70px; */
  max-width: 100%;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
  margin: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  text-align: center;
}

.element__apple {
  background: url(../../images/apple.jpg) center/cover no-repeat;
  min-height: 352px;
  display: flex;
  width: 282px;
  align-items: flex-end;
}

.element__caption-apple {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
  margin: auto 0 0;
  text-align: center;
  min-height: 70px;
  background-color: #e8e8e8;
  opacity: .8;
  display: flex;
  align-items: center;
  justify-content: center;
}

